<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tasks</title>
    <link href="../static/css/tasks.css" th:href="@{/css/tasks.css}" rel="stylesheet" />
</head>
<body>
<table>
    <thead>
    <th>Id</th>
    <th>Description</th>
    <th>Status</th>
    </thead>
    <tbody>
    <tr th:each="task,number : ${tasksList}">
        <td th:text="${task.id}">VALUE</td>
        <td th:text="${task.description}" th:id="'description_' + ${task.id}">VALUE</td>
        <td th:text="${task.status}" th:id="'status_' + ${task.id}">VALUE</td>
        <td>
            <button th:id="'edit_' + ${task.id}" th:onclick="'edit_task(' + ${task.id} + ')'">Edit</button>
        </td>
        <td>
            <button th:id="'delete_' + ${task.id}" th:onclick="'delete_task(' + ${task.id} + ')'">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
<h2>
    <button th:each="pageNumber : ${pageNumbers}" class="button_page">
        <a th:href="@{/(page=${pageNumber}, limit=10)}" th:text="${pageNumber}" th:classappend="${pageNumber == current_page? 'active_page' : ''}"/>
    </button>
</h2>
</body>
</html>